.header {
  background-image: url("./assets/images/Header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  width: 100vmax;
  height: 400px;
}

.divider {
  border-top: 2px solid rgb(255, 255, 255);
  margin: 20px 0;
  width: 80%;
}

.navbar,
.footer {
  background-color: rgb(22, 21, 21);
}
